<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="swagger" type="Swaggerator.Configuration.SwaggerSection, Swaggerator" />
  </configSections>

  <swagger>
    <tags>
      <tag name="Foo" visible="false" />
      <tag name="Bar" visible="true" />
    </tags>
  </swagger>
</configuration>