<?xml version="1.0"?>
<configuration>
  <!--
  <configSections>
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf"/>
  </configSections>
  <swaggerwcf>
    <tags>
      <tag name="LowPerformance" visible="false"/>
    </tags>
    <settings>
      <setting name="Schemes" value="https;http"/>
      <setting name="InfoDescription" value="Sample Service to test SwaggerWCF"/>
      <setting name="InfoVersion" value="0.0.1"/>
      <setting name="InfoTermsOfService" value="Terms of Service"/>
      <setting name="InfoTitle" value="SampleService"/>
      <setting name="InfoContactName" value="Abel Silva"/>
      <setting name="InfoContactUrl" value="http://github.com/abelsilva"/>
      <setting name="InfoContactEmail" value="no@e.mail"/>
      <setting name="InfoLicenseUrl" value="https://github.com/abelsilva/SwaggerWCF/blob/master/LICENSE"/>
      <setting name="InfoLicenseName" value="Apache License"/>
    </settings>
  </swaggerwcf>
  -->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <!-- ADDED automaticFormatSelectionEnabled -->
      <endpointBehaviors>
        <behavior>
          <webHttp automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
